body{background-color: red;
    width: 100%;
    height: 100%;
}
h1,h2,h3,h4{
margin: 0;
}

section{
    width: 100%;
    background-color: gray;
}
section h2{
font-size: 50px;
color: white;
margin-bottom: 10px;
letter-spacing: 3px;
}
section a{
padding: 30px;
border-radius: 100%;
background-color:white;
color: black;
font-size: 30px;
}
section a:hover{
background-color: red;

}







